head
  title 404

  include ../../assets/jade/assets.jade
body
  .container
    .col-md-6.col-md-offset-3(style="margin-top:50px")
      .panel.panel-danger.text-center
        .panel-heading Error 404
        .panel-body
          h1 404
          p There is no page for url:
          p=url
          