script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
script(src="/ex/bootstrap/js/bootstrap.min.js")
script(src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.0.0.js")
script(src="/assets/client_js/konsole.js")

link(rel="stylesheet",type="text/css",href="/ex/bootstrap/css/bootstrap.min.css")
link(rel="stylesheet",type="text/css",href="/ex/bootstrap/css/bootstrap-tagsinput")
link(rel="stylesheet",type="text/css",href="/ex/fontawesome/css/font-awesome.min.css")
link(rel="stylesheet",type="text/css",href="/assets/css/callouts.css")
link(rel="stylesheet",type="text/css",href="/assets/css/general.css")
link(rel="stylesheet",type="text/css",href="/assets/css/konsole.css")